<html>
  <head>
    <title>Message Details</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <ul>
        <li>Message: <%= messages[detailID].message %></li>
        <li>User: <%= messages[detailID].username %></li>
        <li>Added at: <%= messages[detailID].date %></li>
    </ul>
    <form method="GET" action="/">
        <button type="submit" class="backButton">Back</button>
    </form>
  </body>
</html>