<html>
  <head>
    <title>Message Details</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
        <form method="GET" action="/">
          <button type="submit" class="backButton">Back</button>
        </form>
  </body>
</html>