<html>
  <head>
    <title>Mini Messageboard</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <ul>
      <% let count = 0 %>
      <% messages.forEach((message) => { %>
        <li>Message: <%= message.message %></li>
        <li>User: <%= message.username %></li>
        <li>Added at: <%= message.date %></li>
        <form method="GET" action="/details/<%= count %>">
          <button type="submit" class="openDetails">Open details</button>
        </form>
        <hr>
        <% count++ %>
      <% }); %>
    </ul>
    <form method="GET" action="/new">
      <button type="submit" class="newMessage">New Message</button>
    </form>
  </body>
</html>