<html>
  <head>
    <title>New Message Form</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
        <form method="POST" action="/new">
          <label for="author">Author name:</label><br>
          <input type="text" id="author" name="author"><br>
          <label for="message">Message text:</label><br>
          <input type="text" id="message" name="message"><br>
          <button type="submit" class="postButton">Submit</button>
        </form>
  </body>
</html>