<html>
  <head>
    <title>New Message Form</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <%- include("partials/errors.ejs") %>
    <form method="POST" action="/new">
      <label for="author">Author name:</label><br>
      <input type="text" id="author" name="author" required><br>
      <label for="message">Message text:</label><br>
      <input type="text" id="message" name="message" required><br>
      <button type="submit" class="postButton">Submit</button>
    </form>
  </body>
</html>